* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF4111;
    --secondary-color: #2c3e50;
    --accent-color: #3498db;
    --text-color: #2c3e50;
    --light-gray: #f8f9fa;
    --border-color: #e9ecef;
    --white-color: #ffffff;
    --hover-btn: rgba(255, 255, 255, 0.1);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    background-color: var(--light-gray);
    line-height: 1.6;
}

header {
    background-color: var(--white-color);
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

h1 {
    font-size: 32px;
    color: var(--primary-color);
    font-weight: bold;
}

.fa-bolt {
    color: var(--primary-color);
    font-size: 32px;
}

.container-busca {
    width: 100%;
    max-width: 500px;
    margin: 0 32px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--light-gray);
    border-radius: 24px;
}

.container-busca input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 8px;
    font-size: 16px;
}

.fa-magnifying-glass {
    color: var(--primary-color);
}


.container-categorias {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
}

.container-categorias nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 1200px;
    padding: 8px 32px;
}

.botao-categoria {
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    border-radius: 24px;
    color: var(--white-color);
    background-color: transparent;
    padding: 12px 24px;
    cursor: pointer;
}

.botao-categoria:hover {
    background-color: var(--hover-btn);
}

.botao-categoria.ativo {
    background-color: var(--primary-color);
}

.section-hero {
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(255, 65, 17, 1) 55%, rgba(252, 176, 69, 1) 100%);
    color: var(--white-color);
    text-align: center;
    padding: 48px 32px;
}


footer {
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-align: center;
    padding: 32px;
}

/* ESTILIZANDO OS PRODUTOS */

.produtos {
    width: 100%;
    max-width: 1200px;
    padding: 32px;
    margin: 0 auto;
}

.produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    /* Dentro do repeat coloando a disposição dos intens (quantos que vai ter) 
    auto-fill = auto ajustar a quantidade de itens conforme o tamanho da tela
    minmax(320px, 1fr) = tamanho minimo e maximo que o item pode ter
    1fr = 1 fração do espaço disponível*/
    gap: 20px;
}

.cartao-produto {
    color: var(--text-color);
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}

.cartao-produto:hover {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transform: translateY(-16px);
}

.imagem-produto {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.info-produto {
    padding: 16px;
}

.nome-produto {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}

.descricao-produto {
    font-size: 13px;
    margin-bottom: 12px;
}

.preco-produto {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 12px;
    font-weight: bold;
}

.botao-produto {
    width: 100%;
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    padding: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

.botao-produto:hover {
    background-color: #5ea7d8;
}